nav {
    height: 100px;
    width: 100%;
}

header {
    background-color: white;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-color: rgba(0, 0, 0, 0.37);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    box-shadow: 0 0 10px #444444;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-btn {
    font-size: 25px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: #8c3e21ec;
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 30px 0;
    transition: all .5s;

}

.nav-menu li a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #750000;
    text-decoration: underline;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}

// mixin //
@mixin sizes($height, $widht) {
    height: $height;
    width: $widht;
}

.logo-menu {
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    margin-right: 10px;
    margin-left: 20px;
    @include sizes(100%, 100px);
    border: none;
}